# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env/

# Audio files
*.wav
*.mp3

# VS Code settings 
.vscode/

# Ignore API key file
C:\Users\Thomas\.secerts\OPENAPIKEY.txt